<h1>Edit post</h1>
<div class="container-flex">
    <div class="card d-flex justify-content-center" style="width: 70%">
        <div class="card-body" style="background-color: #e9e9e9">
            <%= render 'editProductFrom' %>
        </div>
    </div>
</div>