<p id=”notice” class=""><span style="color: green"><%= notice %></p></span>

<h1>Thank you for your order</h1>
<h2>Your order will be with you within 5 working days.</h2>
<h2>Please feel free to contact us should you have any queries</h2>
<%= link_to 'Back to shop', shop_home_path, :class => "btn btn-small btn-info", method: :get %>