<h1>Welcome to WPPage</h1>
<p id=”notice” class=""><span style="color: green"><%= notice %></p></span>

<p>This application is designed to allow users to see and compare population data on different countries.</p>
<p>The app also features a shop from which 90% of the profit goes to charities</p>
<p>In order to use the application please log in above or alternatively <a href="newuser">register here</a></p>
