<h1>Welcome to WPPage</h1>
<p id=”notice” class=""><span style="color: green"><%= notice %></p></span>

<p>This application is designed to allow users to see and compare population data on different countries.</p>
<p>Please log in above to use the app or alternatively <a href="newuser">register</a></p>
