<h1>About us</h1>
<p>This web application has been created by Szilvia Horvath</p>
<p>This web app is created for a university project so please use it accordingly</p>
<p>Contact: admin@example.com</p>